# 数据库
DATABASE_PATH=./data/database.sqlite

# Telegram 机器人
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# JWT 配置
JWT_SECRET=Zer0Teams #留空为随机生成
JWT_EXPIRES_IN=7d

# 加密
ENCRYPTION_KEY=DockerManager_PoweredByZer0Teams #留空为随机生成

# 服务器
NODE_ENV=development

# 日志配置
LOG_LEVEL=info

# 监控配置
MONITORING_INTERVAL=5000

TGBOT_PROXY=http://127.0.0.1:10808